<h1>Current Users</h1>
<table border="1">
	<tr>
		<td>Name</td>
		<td>Email</td>
		<td>Description</td>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<% if user.description %>
				<td><%= user.description %></td>
			<% else %>
				<td>Say something about yourself :)</td>
			<% end %>
		</tr>
	<% end %>
</table>
